{% extends "base.html" %}
{% block content %}
<form action="/negative_created/" method="post">{% csrf_token %}
    <p>Choose what KEY do you want edit</p>
    {% for k in wtf.keys %}
    <p><input type="text" hidden="hidden" name="key" value={{ k }}>{{ k }}: <input type="text" name="value" value="{{  wtf|get_item:k }}"></p>
    {% endfor %}
{#    <input type="text" name="key"><span style='padding-left:100px;'><input type="text" name="value">#}
    <input type="submit" value="Submit">
        <input type="text" hidden="hidden" name="pro" value={{ pro }}>
        <input type="text" hidden="hidden" name="tag" value={{ tag }}>
</form>
{% endblock content %}